# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Ignore .terraform directory
.terraform/

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan output
*.plan

# Local .terraform-docs config (if you use a local one)
.terraform-docs.yml

# IDE/editor junk
.vscode/
.idea/
.DS_Store
